.home-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 50px 0px 50px;
  min-width: 1000px;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--PAGE-TRANSPARENT-BACKGROUND-COLOR);
  border: 2px solid var(--BORDER-COLOR);
  border-radius: 10px;
  max-width: 200rem;
  backdrop-filter: blur(25px);
  max-height: 600px;
  min-width: 800px;
  overflow: auto;
}

.home-page::-webkit-scrollbar {
  width: 0px;
}
